*{
  margin: 0;
  padding: 0;
}
html,body,#root{
  height: 100%;
  width: 100%;
  }

  html{
    background-color: #201f1f;
  }



  .notes{
    padding-block: 2rem;
    padding-inline: 2rem;
    display: flex;
    gap: 3rem;
  }
  .note{
    background-color: #2c2b2b;
    padding: 1rem;
    border-radius:0.7rem ;
    max-width: 20rem;
    color: rgb(231, 221, 209);
  }

  .note-create-form{
   display: flex;
   gap: 1rem;
   padding-inline: 3rem;
   padding-block: 1rem;
  }

  button{
    background-color: rgb(5, 128, 87);
    padding: 1rem;
    border-radius: 5px;
    border: none;
    margin: 0.5rem;
  }

  input{
    background-color: rgb(164, 161, 161);
    color: black;
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
  }